@{
    @model NET_Project.Models.Note;
    ViewData["Title"] = "Ändra anteckning";
}

<h2>Ändra anteckning</h2>

@using (Html.BeginForm(new { id = "notes-form" }))
{

    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.NoteId)

    <div class="form-box">
        @Html.LabelFor(model => model.Title) <br />
        @Html.EditorFor(model => model.Title)
    </div>

    <div class="form-box">
        @Html.LabelFor(model => model.Content) <br />
        @Html.EditorFor(model => model.Content)
    </div>

    <div class="form-box">
        <input type="submit" value="Spara ändringar" class="submit-btn">
    </div>

}

