@{
    @model NET_Project.Models.Horse;
    ViewData["Title"] = "Dina hästar";

    var data = ViewBag.Horses;
}

<h2>Dina hästar</h2>

<p>Här kan du lagra information om dina hästar!</p>

<h2>Lägg till häst</h2>
<!-- Formulär för att lägga till hästar -->
<form method="post" id="horse-form">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-box">
        <label asp-for="Owner">Ditt namn:</label><br />
        <input asp-for="Owner"><br />
    </div>
    <span asp-validation-for="Owner"></span>

    <div class="form-box">
        <label asp-for="Name">Namn:</label><br />
        <input asp-for="Name"><br />
    </div>

    <div class="form-box">
        <label asp-for="Nickname">Smeknamn:</label><br />
        <input asp-for="Nickname">
    </div>

    <div class="form-box">
        <label asp-for="Gender">Kön:</label><br />
        <select asp-for="Gender">
            <option value="Sto">Sto</option>
            <option value="Hingst">Hingst</option>
            <option value="Valack">Valack</option>
        </select><br />
    </div>

    <div class="form-box">
        <label asp-for="Breed">Ras:</label><br />
        <input asp-for="Breed">
    </div>

    <div class="form-box">
        <label asp-for="Level">Level:</label><br />
        <input asp-for="Level">
    </div>

    <div class=form-box>
        <label asp-for="Info">Anteckning:</label><br />
        <textarea asp-for="Info"></textarea>
    </div>

    <div class="form-box">
        <input type="submit" value="Lägg till" class="submit-btn">
    </div>

</form><br />

<h2>Lagrade hästar</h2>
<!-- Table to print horses -->
<table id="horse-table">

    <!-- Table header -->
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Bild</th>
            <th>Namn</th>
            <th>Smeknamn</th>
            <th>Kön</th>
            <th>Ras</th>
            <th>Level</th>
            <th>Info</th>
        </tr>
    </thead>

    <!-- Loop through horses -->
    <tbody>
        @foreach(var horse in data) {

            <tr>
                <td>@horse.HorseId</td>
                <td></td>
                <td>@horse.Name</td>
                <td>@horse.Nickname</td>
                <td>@horse.Gender</td>
                <td>@horse.Breed</td>
                <td>@horse.Level</td>
                <td>@horse.Info</td>
            </tr>

        }
    </tbody>

</table>