@{
    @model NET_Project.Models.Note
    ViewData["Title"] = "Anteckningar";

    var data = ViewBag.Notes;
}

<h2>Anteckningar</h2>

<p>Spara dina anteckningar här!</p>

<h2>Lägg till anteckning</h2>

<!-- Form for notes -->
<form method="post" id="notes-form">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-box">
        @Html.LabelFor(model => model.Title) <br />
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-box">
        @Html.LabelFor(model => model.Content) <br />
        @Html.EditorFor(model => model.Content)
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>

        <div class="form-box">
            <input type="submit" value="Skapa anteckning" class="submit-btn">
        </div>

</form>

<h2>Sparade anteckningar</h2>

<!-- Loop through notes -->
@foreach(var note in data) {

    <div class="note-box">
        <h3>@note.NoteId . @note.Title</h3>
        <p>@note.Content</p>
        <div class="button-box">
            @Html.ActionLink("Ändra", "Edit", new { id=note.NoteId }, new { @class="edit-btn" })
            @Html.ActionLink("Radera", "Delete", new { id=note.NoteId, category="Note" }, new { @class="delete-btn" })
        </div>
    </div>

}