@{
    @model NET_Project.Models.Note;
    ViewData["Title"] = "Anteckningar";

    var data = ViewBag.Notes;
}

<h2>Anteckningar</h2>

<p>Spara dina anteckningar här!</p>

<h2>Lägg till anteckning</h2>

<!-- Form for notes -->
<form method="post" id="notes-form">

    <div class="form-box">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
    </div>

    <div class="form-box">
        @Html.LabelFor(model => model.Content)
        @Html.EditorFor(model => model.Content)
    </div>

        <div class="form-box">
            <input type="submit" value="Skapa anteckning" class="submit-btn">
        </div>

</form>

<h2>Sparade anteckningar</h2>

@foreach(var note in data) {

    <div>
        <h3>@note.NoteId . @note.Title</h3>
        <p>@note.Content</p>
    </div>

}